.accordion {
    .card {
        border: 1px solid rgb(155, 155, 155);
        background: $primary;
        margin-bottom: 5px;
        .card-header{
            border: none ;
        }
        .card-body {
           background: white;
        }
        .clearfix {
            .btn-collapsed {
                color:white ;
                font-size: 20px;
                text-decoration: none;
                cursor: pointer;
            }
            .btn-collapsed :hover,.btn-link :focus {
                color: white;
                text-decoration: none;
            }
            .btn-collapsed i {
                font-size: 20px;
                display: flex;
                flex-direction: row;
                justify-content: right;
            }
            
        } 

    }

}