.pricing {
    width: 100%;
    border: 0.5px solid $primary;
    padding: 20px;
    border-radius: 20px;
    min-height: 600px;
    
    .card-title {
        text-align: center;
        display: flex;
        flex-direction: column;
        width: 100%;
        font-size: 18px;
        
        p {
            text-transform: capitalize;
        }
    }
    .price {
        width: 100%;
        font-size: 30px;
        font-weight: 600;
    }
    ul {
        list-style: none;
        padding: 0;
        li {
            font-size: 12px;
            .check {
                color: green;
            }
            .X {
                color: red;
            }
            i {
                margin-right: 5px;
                font-size: 14px;
                font-weight: bold;
            }
        }
    }
    .btn-modal {
            color: $secondary;
            display: flex;
            flex-direction: column;
            justify-content: center;
    }
}

@media(max-width: 991px) {
    .pricing {
        margin-bottom: 20px;
    }
}