.pricingTable-header{
    color: #fff;
    background-color: $primary;
    padding: 45px 15px 45px 20px;
    margin: -25px 0 20px;
    border-radius: 0 20px 0 0;
    display: inline-block;
    position: relative;
}
.title {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}
 .price-value {
    font-size: 50px;
    font-weight: 700;
    line-height: 80px;
    
}