.service {
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    min-height: 200px;
    margin: 20px 0px;
    i {
        font-size: 50px;
    }
    h5 {
        margin-top: 20px;
    }
    p {
        text-align: center;
    }
    .description {
        text-align: center;
        font-weight: 400;
        margin-bottom: 25px;
    }
    
    button {
        border-radius: 10px;
        
    }

}